@charset "utf-8";
@font-face {
  font-family: 'Al Jazeera-Latin 40';
  src: url('../fonts/AlJazeera-Latin-40Regular.eot');
  src: url('../fonts/AlJazeera-Latin-40Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AlJazeera-Latin-40Regular.woff2') format('woff2'),
  url('../fonts/AlJazeera-Latin-40Regular.woff') format('woff'),
  url('../fonts/AlJazeera-Latin-40Regular.ttf') format('truetype'),
  url('../fonts/AlJazeera-Latin-40Regular.svg#AlJazeera-Latin-40Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Al Jazeera-Latin 40", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.sidebar {
  background-color: rgb(28, 40, 90)!important;
  color: white;
}
.sidebar .float-left .fas {
  padding: 8px 9px;
  font-size: 25px;
  border-radius: 50%;
  background-color: white;
  color: black;
}
.sidebar .nav-link {
  color: white;
  border-bottom: 1px solid rgb(211,211,211);
  padding: 8px 0px;
}
.sidebar .badge {
  border-radius: 0;
  font-weight: lighter!important;
}


.main-content {
  color: white;
}
.carousel-inner:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}
.main-content .main-title {
  position: absolute;
  left: 3%;
  top: 15px;
}
.main-content .main-title .header {
  width: fit-content;
  width: -webkit-fit-content;
  background-color: rgb(219, 161, 36)!important;
}
.main-content a {
  color: white;
}
.main-content .carousel-caption {
  position: absolute;
  right: 3%;
  bottom: 3px;
  left: 3%;
  z-index: 10;
  color: #fff;
  text-align: left;
}
.main-content .carousel-caption p {
  margin: 0;
}
.main-content .carousel-control-next {
  font-size: 80px;
  right: -24px;
}

/* .main-content .carousel-control-next {
width: 11%;
}
.main-content .carousel-control-next-icon {
width: 70px;
height: 85px;
} */

#boxscroll {
  height: 178px;
  overflow: auto;
}
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(200,200,200);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
