/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .row .col-md-7 {
    padding-left: 0;
    padding-right: 0;
    margin-top: 8px;
  }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #boxscroll {
    height: 134px;
  }
  .main-content .carousel-caption {
    top: 30px;
  }
  .main-content .carousel-item img {
    height: 245px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #boxscroll {
    height: 77px;
  }
  .sidebar .nav-link {
    padding: 2px 0px;
  }
  .main-content p,.main-content h2, .main-content h6,.main-content a {
    font-size: small;
  }
  .main-content .carousel-caption {
    top: 40px;
    padding: 0;
  }
  .main-content .main-title {
    top: 5px;
  }
  .main-content .carousel-item img {
    height: 175px;
  }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .main-content .carousel-caption {
    top: 38px;
    padding: 0;
  }
  .main-content .main-title {
    top: 5px;
  }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .main-content p,.main-content h2, .main-content h6,.main-content a {
    font-size: small;
  }
  .main-content .carousel-caption {
    padding: 0;
    top: 38px;
  }
  .main-content .main-title {
    top: 5px;
  }
  .main-content .carousel-item img {
    height: 175px;
  }
}
